body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.loader {
  position: absolute;
  top: calc(50%-50px);
  left: calc(50%-50px);
  width: 200px;
  height: 200px;
  border: 2px solid #ccc;
  border-bottom: 2px solid #3498db;
  border-radius: 50%;
  box-shadow: 0px -2px 2px black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: animate;
  -webkit-animation-name: animate;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.loader::before {
  content: " ";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 2px solid #ccc;
  border-bottom: 2px solid #e74c3c;
  box-shadow: 0px -2px 2px black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: animate;
  -webkit-animation-name: animate;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinte;
}

.loader::after {
  content: " ";
  position: absolute;
  top: 22px;
  left: 22px;
  bottom: 22px;
  right: 22px;
  border: 2px solid #ccc;
  border-bottom: 2px solid #2ecc71;
  box-shadow: 0px -2px 2px black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: animate;
  -webkit-animation-name: animate;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinte;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
